@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Trocchi&display=swap');

* {
    margin: auto;
}

body {
    font-family: "IBM Plex Serif", serif;
}

header {
    background: #5387d475;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 10px #195b9475;
    padding: 50px;

}


h1 {
    font-family: "IBM Plex Serif", serif;
    font-size: 30px;
}

h2,
h3 {
    font-family: "IBM Plex Serif", serif;
}

p {
    color: #000000;
    font-family: "IBM Plex Serif", serif;
}

.bi {
    color: #050857;
}

#menu-principal {
    list-style-type: none;
    display: flex;
}


nav {
    overflow: hidden;
    padding: 20px 0;
}

#menu-principal a {
    text-decoration: none;
    color: #064561;
    font-size: 25px;
    font-weight: bolder;
    padding: 8px;
}

#menu-principal a:hover {
    color: #03225175;
    background-color: #8e99ba25;
}

#foto-perfil {
    width: 300px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    float: none;
}

main {
    overflow: hidden;
}

section {
    overflow: hidden;
    width: 93%;
}



#proyectos {
    padding: 20px 30px;
    border-top: solid 5px #054770;
    margin-top: 30px;
    text-align: center;
}

#HackyFox-Mobile{
    width: 50%;
}

#Nexura{
    width: 50%;
}

#Lista-proyectos {
    display: flex;

}

.proyecto {

    width: 25%;
    padding: 10px;
    margin-top: 20px;
}

.proyecto img {
    width: 90%;
    border-radius: px;
    margin-top: 10px;
}

.proyecto p {
    text-align: justify;
    padding: 10px 20px;
    color: #050857;
}

.proyecto h3 {
    color: #05233de6;
    font-weight: li;
}

#habilidades {
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    border-top: solid 5px #06335ae6;
    margin-bottom: 30px;
}

progress {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px 0;
}

.lista-tecnologias {
    list-style: none;
    display: flex;
    margin-left: 0;
    gap: 15px;
    padding: 10px;
}

.lista-tecnologias li {
    background-color: #064561;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
}

#contacto {
    padding: 40px;
}

.campos {
    width: 70%;
    clear: both;
    font-size: 18px;
}

.campos label{
    padding-right: 20px;
}

.campos input, select{
    padding: 10px;
    border: solid 2px #064561;
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
}
.campos{
    padding: 10px;
    text-align: left;
}

.campos button{
    background-color: #2f98b2;
    color:#042f4a;
    border:none;
    font-size: 28px;
    padding: 10px 30px;
    border-radius: 10px;
}

.campos .opciones{
    width: 20px;
}

footer {
    overflow: hidden;
    padding: 40px 0;
    background-color: #407a9d;
    text-align: center;
    border-top: solid 5px #13395ac4;
}